# NOTE: most settings can be emtpy, but if you want
# an empty option row, you HAVE to use a space 
# NOTE: spacing is for the space between the menus.
# NOTE: padding is for the space between the border and the menus.
# NOTE: the horizontal padding will always at least be padding_x,
# but could be more if the title is longer than the group width.
# NOTE: if no compact option is given, the first option will be used.
# NOTE: navigation keys shouldn't be the same as any other key.
# NOTE: navigation keys are case sensitive.

# Group settings
group_title= QUICK START 
group_corner_symbol=+
group_horizontal_symbol==
group_vertical_symbol=|
group_spacing_symbol=
group_background_symbol=
spacing=4
padding_x=5
padding_y=2
compact_mode_key=w
navigation_mode_key=n
navigation_mode_footer=-- Navigate --
navigation_left_key=<
navigation_right_key=>
navigation_not_available_symbol=#
extra_prompt_1=Display issues? Enable/disable Walter-mode with [w]
extra_prompt_2=Navigation issues? Enable/disable navigation mode with [n]
input_prompt=Enter a game: 

# Menu settings
[tictactoe]
title=[T]ic-Tac-Toe
title_padding=0
option1=3 x 3
option2=Row of 3 wins
compact_option=[T]ic-Tac-Toe

[connectfour]
title=[C]onnect Four
title_padding=0
option1=6 x 7
option2=Row of 4 wins
compact_option=[C]onnect Four

[gomoku]
title=[G]omoku (custom)
title_padding=0
option1=m x n
option2=Row of h wins
compact_option=[G]omoku (custom)

